<div>
    <a class="clickablePost" href="addorupdate/@Post.Id">
        <p class="dateTimeOnMain" style="margin-top: 10px">
            @Post.CreateDateTime.ToString("ddd, dd MMMM yyyy HH:mm")
        </p>
        <p class="inputTitle previewInputTile" style="margin-bottom: 0px; font-size: 16px">@((MarkupString)Post.Title) @IsDraft</p>
        <TagLine IsReadOnly=true Aligment="@Aligment.Left" Tags="@Post.Tags"></TagLine>
        <hr id="noMarginHr" style="margin-top: 10px;" />
    </a>    
</div>

@code {
    [Parameter]
    public PostRead Post { get; set; }

    public string IsDraft => $"{(Post.AutoSaved ? "(неопубликовано)" : string.Empty)}";
    }
