<div>
    <p class="dateTimeOnMain">
        @Post.CreateDateTime.ToString("ddd, dd MMMM yyyy")
    </p>
    <p class="inputTitle previewInputTile" style="margin-bottom: 10px">@((MarkupString)Post.Title)</p>
    <p style="text-align: justify; font-size: 14px; font-style: normal; font-weight: 400; line-height: 20px; color: #000000;">
        @((MarkupString)Post.PreviewText)
    </p>
    <TagLine Aligment="@Aligment.Left" Tags="@Post.Tags" OnTagClicked="@OnTagClicked"></TagLine>
    <hr />
</div>

    @code {
        [Parameter]
        public PostRead Post { get; set; }

        [Parameter]
        public EventCallback<string> OnTagClicked { get; set; }
    }
